<form action="/questions" id="usrform" method="post">
  Title: <input type="text" name="question[title]">
  <input type="submit">
</form>

<textarea name="question[body]" form="usrform" placeholder="Question here..."></textarea>
