body{
  width: 960px;
  margin: auto;
}

.question_listing{
  text-align: center;
}

.question-text {
  text-align: center;
}

.jumbotron {
  width: 720px;
  margin:auto;
  display: block;

}
.vote-buttons{
  float:left;
  vertical-align: bottom;
}
