<form class="form-horizontal" method="POST" action="/users">
  <fieldset>
    <legend>Sign-up</legend>
    <div class="form-group">
      <label for="inputUsername" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input type="text" name="user[username]" class="form-control" id="inputUsername" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" name="user[email]" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" name="user[password]" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
      <input type="submit" value="Submit" class="btn btn-primary">
      </div>
    </div>
  </fieldset>
</form>
