<div>
  <form method="POST" action="/questions/:id/upvote">
    <input type="submit" value="^" />
  </form>
  <form method="POST" action="/questions/:id/downvote">
    <input type="submit" value="v" />
  </form>
</div>
